@import '../../public.scss';
.searcharea{
  font-family: 'Francois One', sans-serif;
  width: 90%;
  display: flex;
  margin: 25px auto 0 auto;
  align-items: center;
  justify-content:center;
  color:#999;

  span{
    width: 150px;
    cursor: pointer;
    
      @media screen and (max-width: $smallscreen) {
        display: none!important;

    }
  }
  .sradio{
    width: 20px;
  }
  .searchinput{

    width: 50%;
    height: 40px;
    border: solid 2px #ccc;
    border-radius: 5px;
  }
  .searchbtn{
    font-family: 'Francois One', sans-serif;
    font-size: 1.2rem;
    color: #666;
   margin: 0 10px 0 20px;
   width:150px;
   height: 44px;
  }
}
