.Appfancy{
  background-color: black !important;
}
.App{
  background-color: none;
}
.wraper{

  margin: 0 auto;
  padding: 0 0 2rem 0;
  max-width: 1640px;
  min-height:93vh;
  display:grid;
  grid-template: 90px 100px 1fr/1fr;

  .mbbarlin{

  }
}
.wraper *{
  width: 100%;
  //border: solid 1px #eee;

}
.fwraper{
  opacity: 0.8;
  min-height: 50px;
  width: 100%;
  position: sticky;
  top:auto;
  bottom:0;
  display: block;
  background-color: #b3b3b3;

}
